@model Chat.Models.LocalPasswordModel

<p>
    Você ainda não possui uma senha local.
    Crie uma senha agora e poderá entrar sem usar um serviço externo.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Definir Formulário de Senha</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Definir senha" />
    </fieldset>
}
